.ProductsList{
    background-color:white;
    width: 80%;
    height: 50vh;
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}

.NameProduct{
    background-color: blueviolet;
    width:15%;
    height: 40%;
    margin: 0.5rem;

}