.ProductsList{
    color: black;
}

.FilterProduct{
    margin: 0.1rem;
    text-align: left;
}

.ListRenderProduct{
    display: flex;
    flex-wrap: wrap;
}

.ProductsGrid{
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #c5c5c5;
}

.ProductsGrid p {
    color: rgb(102, 102, 102);
    font-size: 1rem;
}

.FilterProductBox{
    box-shadow: 0px 0px 5px 1px #888888;
    padding: 3rem 2.5rem;
    background-color: white;  /* provisional */
}

.FilterProductBox h3{
    font-size: 1.2rem;
    font-weight: 700;
}

.CategoriesProducts{

    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #c5c5c5;
}

.PriceRange{

}
.PriceRange p{
    font-size: 0.9rem;
    color: gray;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #c5c5c5;
}




.OffersProducts{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #c5c5c5;
}

.OffersProducts img{
    margin: auto;
    display: flex;
}

@media (min-width: 410px) and (max-width: 984px)  {
    .OffersProducts img{
        width: 60%;
    }
  
}

@media (max-width: 984px)  {
    .ProductsRenderList {
        margin-top: 3rem;
    }
}


.OffersProducts h2 {
    text-align: center;
    font-size: 1rem;
    color: black;
}
.OffersProducts h3 {
    color: black;
}

.OffersProducts p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.ProductsRenderList{
    /* background-color:rgb(155, 152, 152); */
}

.SearchProduct{
    margin-bottom: 2rem;
}





.RenderPageNumbersProducts{
    margin: 2rem auto;
}

.pageNumbersProducts{
    display: flex;
    list-style: none;
    justify-content: center;
}
.pageNumbersProducts li{
    padding:0.5rem;
    cursor: pointer;
    margin: 0.1rem;
    font-size: 1.3rem;
}

.pageNumbersProducts ul li{
    border: 1px sol;
}

.pageNumbersProducts li.active{
    background-color: rgb(54, 168, 255);
    border-radius: 0.4rem;
    color: white;
    transition: 0.5s;
}

.pageNumbersProducts li button {
    background-color:transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: black;

}
.pageNumbersProducts li button:hover {
    color: white;

}

.pageNumbersProducts li:hover{
    background-color: rgb(0, 65, 176);
    border-radius: 0.4rem;
    color: white;
    transition: 0.3s;
}

.pageNumbersProducts li button:focus {
    outline: none;
}

.Categories{
    display: flex;
    flex-direction: column;
}

.Categories span{
    font-size: 0.8rem;
}

.Categories label{
    margin: 0.2rem 0;
}

.Categories label span{
    padding: 0;
    margin-right: 0.4rem;
}


/* order */


.OrderProducts{
    position: absolute;
    
    display: flex;
    flex-direction: column;
}

.OrderProducts button{
    background-color: #36a8ff;
    color: white;
}



.OrderProducts button{
    border: none;
    padding: 0.1rem 1rem;
}

.OrderProducts button:hover{
    background-color: rgb(0, 65, 176);
    color: white;
    padding: 0.1rem 1rem;
    transition: 1s;
}

.IconsProductsGrid svg{
    cursor: pointer;
    color: #36a8ff;

}
.IconsProductsGrid svg:hover{
    color:rgb(0, 65, 176);
    transition: 1s;
}