.Information {
    margin-top: 0;
    color: #fff;
    align-items: center;
    font-size: 0.8rem;
    color: black;
    padding: 0.3rem 0;
}

.NetworkInformation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}

.NetworkInformation span{
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 0.15rem solid rgb(54, 54, 54);
}

.Loginbtn{
    display: flex;
    justify-content: flex-end;
    
}

.Loginbtn button {
    background-color: cornflowerblue;
    color: white;
    border:none;
    padding: 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.References {
    display: flex;
    align-items: center;
    
}
.References a{
    margin-left: 0.5rem;
}
    

.Track{
    display: flex;
    align-items: center;
}
.PBX{
    display: flex;
    align-items: center;
}

.PBX p{
    margin: 0;
    border:0;
}
.Track a{
   margin-right: 0.5rem;
}

@media screen and (max-width: 770px) {
    .Information{
        display: none !important;
    }
}

