.Suggestions {
    background-color: white;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 4rem;
}

.Suggestions h4{
    margin-top: 2.2rem;
    margin-bottom: 2rem;
    color: rgb(83,182,248);
    font-size: 1.4rem;
    font-weight: 700;

}

.SuggestionsMobile{
    overflow: hidden;
}

.Slideshow{
    overflow: hidden!important;
}

.SlideRender img{
    width: auto!important;
    margin-bottom: 1.5rem;
}

.fjYXtl {
    position: relative;
    overflow: hidden;
}

.sc-jrAFXE p{
    margin-bottom: 0;
}

.dmdkhJ {
    position: relative;
    color: rgb(218, 27, 27)!important;
    font-weight: 700;
}