.NosotrosRoute{
    text-align: left;
}
.NosotrosRoute h2{
    color: black;
    margin: 0;
    font-weight: 700;
}
.NosotrosRoute p{
    color: gray;
    font-size: 1.1rem;
}


.NosotrosMisionVision{
    color: black;
    margin: 3rem auto;
}

.NosotrosVision{
    border-bottom: 0.1rem solid rgb(233, 233, 233);
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}
.NosotrosVision img{
     width: 150px;
}

.NosotrosVision p{
    font-size: 0.7rem;
    text-align: left;
}

.NosotrosVision h3{
    font-size: 1.5rem;
    text-align: left;
}

.NosotrosMision img{
 width: 150px;
}

.NosotrosMision p{
    font-size: 0.7rem;
    text-align: left;
}

.NosotrosMision h3{
    font-size: 1.5rem;
    text-align: left;
}

.Historia{
    color: white;
    background: linear-gradient(0deg, rgb(82, 82, 82) 0%, rgba(0,0,0,1) 100%);
    text-align: left;
    padding: 5rem 0;
}

.Historia h3{
    font-size: 1.7rem;
}

.Historia p{
    font-size: 0.9rem;
    line-height: 1.1rem;
}


