.AccountRender{
    color: black;
}

.InformatioAccount{
    box-shadow: 0px 0px 3px 0.5px #888888;
    padding: 3rem 3rem;
    text-align: left;
    background-color: white;  /* provisional */
    display: flex;
    flex-direction: column;
}
.InformatioAccount h3{
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.InformatioAccount p{
    border-bottom: 1.5px solid rgb(173, 173, 173);
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
}

.ListRenderProduct__titule{
    background-color: rgb(54, 168, 255);
    border-radius: 0.2rem;
}

.ListRenderProduct__titule{
    color: white;
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 0.4rem 1rem;
    text-align: left;
    display: flex;
    align-items: center;
}

.ListRenderProduct__titule h3{
    color: white;
    font-size: 1.2rem;
}
