.ItemBuy {
    border-bottom: 0.2rem solid rgb(212, 210, 210);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}



.ImgBuyCrud img{
    max-height:100%; 
    max-width:100%;
}




.DescriptionBuyCrud {
    width: 28%;
    font-size: 1rem;
    text-align: left;
} 

.DescriptionBuyCrud h5{
    font-size: 1rem;
    margin: 0;
}
.DescriptionBuyCrud p{
    margin: 0;
} 

.DescriptionBuyCrud button{
    margin-top: 1rem;
    font-size: 0.6rem;
    text-align: left;
} 

.Price {
    width: 30%;
    color: green;
    text-align: left;
}

@media (max-width: 700px) {
    .ImgBuyCrud {
      width: 38%;
    }
    
    .Price {
        width: 50%;
    }
    
    .DescriptionBuyCrud {
        width: 50%;
    } 
}



