.App {
  text-align: center;
  background-color: white;
  width: 100%;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.MuiButton-startIcon {
  display: inherit!important; 
  margin-left: 0px!important;
  margin-right: 0px!important;
}



